//theorem stuff
em {
  color: blue;
  font-style: normal;
  font-weight: 600;
}
.definition, def, thm, lemma, example, exercise {
  display: block;
  border: 1px solid #CCC;
  padding: 5px;
  padding-left: 0px;
  margin-top: 40px;
  margin-bottom: 20px;
  p {
    margin: 0;
    margin-top: -20px;
    padding-left: 20px;
    padding-bottom: 20px;
    margin-bottom: -20px;
  }
  &:before {
    font-weight: 800;
    font-size: 120%;
    margin-left: -1px;
    margin-bottom: -16px;
    position: relative;
    top: -31px;
    border-left: 1px solid #CCC;
    border-right: 1px solid #CCC;
    border-top: 1px solid #CCC;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    color: #111;
  }
}

.definition, def {
  background-color: #EEE;
  &:before {
    content: "定義 " attr(name);
    background-color: #DDD;
  }
}

thm {
  background-color: #FDD;
  &:before {
    content: "定理 " attr(name);
    background-color: #ECC;
  }
}

lemma {
  background-color: #DDF;
  &:before {
    content: "引理 " attr(name);
    background-color: #CCE;
  }
}

example {
  background-color: #F6F6DD;
  &:before {
    content: "例題 " attr(name);
    background-color: #E3E3CC;
  }
}

exercise {
  background-color: #D5E8D5;
  &:before {
    content: "習題 " attr(name);
    background-color: #BDB;
  }
}

EOP, eop {
  float: right;
  display: inline;
  min-width: 12px;
  min-height: 12px;
  border: 1px solid black;
  &:before {
    content: " ";
  }
}

//homework stuff
.hw-base .hw-output {
  width: 800px;
  height: 300px;
}
.hw-rubics {
  background-color: #DDD;
}
.hw-rubics-checkbox {
  float: left;
}
.hw-rubics-label {
  display: block;
}
.hw-rubics:hover {
  background-color: #FFD;
}
.hw-rubics-unsaved {
  background-color: #FDD;
}
.hw-remark {
  display: inline-block;
  padding-left: 2px;
  padding-right: 2px;
  cursor: pointer;
  background-color: #CCC;
  border: 3px solid #999;
}

.hw-remark.hw-remark-active {
  border: 3px solid #66F;
  background-color: #CCF;
}
.hw-add {
  float: right;
  cursor: pointer;
  &:hover {
    background-color: #FFD;
  }
}
.hw-comments-input {
  width: -webkit-calc(100%) ;
}
